@keyframes pokebolaGiro{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
#pokebola:hover{
    animation-name: pokebolaGiro;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background-color: #21680F;
}
#encab{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: wrap;
}
#bannerencabezado{
    
    max-width: 100%;
    display: inline-block;
        
}

.contenedorTarjetas{
    display:flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:20px;
    box-sizing: border-box;
    padding: 0.5%;
}

.card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(assets/fondocards2.png);
    background-size: auto;
    border-radius: 30px;
    font-family: Roboto;
    text-align: center;
    padding: 20px;
    color: aliceblue;
}

.card:hover {
    background: #e5e190;
  }

.contenedorbotones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.ordenaz,
#descendente
{
    background-color: transparent;
    border-radius: 18px;
    font-family: roboto;
    font-weight: bold;
    font-size: 18px;
    padding: 6px;
    border: 4px solid #E5E190;
    width: 24%;
    color: whitesmoke;
    text-align: center;
}
#pokebola {
    width: 4%;
    height: 4%;
}
.ordenaz:hover{
    background-color: #E5E190;
}
#descendente:hover{
    background-color: #E5E190;
}

.ordenaz:focus{
    background-color:red;
}

#descendente:focus{
    background-color: red;
}

@media only screen and (max-width: 600px) {
    .contenedorbotones {
      flex-direction: column;
      gap:10px;
    }
    .ordenaz,
    #descendente {
        width: 80%;
        font-size: 14px;
    }
    #pokebola{
        width: 12%;
        height: 12%;
    }
  }

  h3 {
      text-transform: capitalize;
  }

